.awesome {
    margin: 1.5rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
  }
  
  .awesome_content {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .awesome_content p {
    word-wrap: break-word;
    max-width: 300px;
  }

   /* fontawesome icon size */
  .fa-lg {
    font-size: 1.3rem;
  }
  
  /* fontawesome icon styles */
  .awesome_fontawesome {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: -1rem;
    border: 2px solid rgb(255, 139, 56);
    border-radius: 50%;
    padding: 0.9rem;
  }