header {
  z-index: 10;
  position: relative;
  background-color: black;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
}

.header_div {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* axit logo */
.header_img {
  width: 80px;
  height: 27px;
}

header svg {
  color: #ccc;
  cursor: pointer;
}

header svg:hover {
  color: white;
}

header svg:active {
  color: rgb(255, 139, 56);
}
/* burger */
 .hamburger_menu {
  z-index: 10;
  text-align: center;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  right: 0 !important;
}

.menu__btn {
  position: absolute;
  top: 2rem;
  right: 9%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: 0.25s;
}

.menu__btn>span::before {
  content: "";
  top: -8px;
}

.menu__btn>span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  line-height: 2.5rem;
  top: 0;
  right: -100%;
  height: 450px;
  width: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: white;
  color: black;
}

@media (min-width: 768px) {
  .hamburger_menu {
    z-index: 0;
    display: flex;
  }
  .menu__btn {
    display: none;
  }

  .menu__box {
    display: flex;
    flex-direction: row;
    top: 10%;
    right: 7.5%;
    background: transparent;
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  .menu__box li {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 100%;
  }

  .menu__item {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.698039215686274);
  }
}