.sublist {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -1rem;
  }
  
  ul {
    position: relative;
    list-style-type: none;
    margin-top: 2.2rem;
    margin-left: 1rem;
  }
  
  ul h4 {
    font-size: 14px;
    margin-bottom: -5px;
  }
  
  /* fontawesome icons styles in sublist */
  .sublist span:nth-child(odd) {
    position: absolute;
    left: -1rem;
    width: 1rem;
    height: 1rem;
  }
  
  .sublist_fontawesome {
    border: 2px solid rgb(255, 139, 56);
    border-radius: 50%;
    padding: 11px;
    display: flex;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .sublist p {
      width: 80%;
    }

    .sublist ul p {
      width: 65%;
    }
  }