.tabs {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}

.tabs button {
  position: relative;
  left: 0;
  top: 5%;
  border: none;
  width: 100%;
  max-width: 200px;
  height: 44px;
  color: white;
  background-color: rgb(255, 139, 56);
  font-size: 1rem;
  cursor: pointer;
}

.tabs button:hover {
  background-color: rgb(255, 155, 81);
}

.tabs img {
  display: none;
}
/* making label looks like button */
.collapse {
  width: 85px;
  max-width: 100%;
  height: 53px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: -1.3px;
  background: black;
  color: white;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 24%);
  font-weight: 700;
  font-style: normal;
}

.collapse:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.collapse:hover {
  background-color: rgb(51, 51, 51);
}
  /* hide the checkboxes */
.tabs input {
  display: none;
}

/* hide not selected content */
input+.collapse+div {
  margin-top: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

/* show selected content */
input:checked+.collapse+div {
  position: absolute;
  top: 4rem;
  left: 0px;
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: 0.7s;
}

/* make selected label color orange */
input:checked+.collapse {
  background-color: rgb(255, 139, 56);
}

@media (min-width: 440px) {
  .tabs {
    height: 450px;
  }
}

@media (min-width: 768px) {
  .tabs {
    justify-content: flex-start;
  }

  .collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65px;
  }
  /* labels */
  .collapse:nth-of-type(1) {
    margin-top: 4rem;
  }
  .collapse:before {
    content: none;
  }
  input + .collapse + div {
    top: 1.5rem;
    left: 10rem;
  }

  input:checked+.collapse+div {
    top: 1.5rem;
    left: 10rem;
  }

  @media (min-width: 1024px) {
    .tabs {
      height: 600px;
    }

    .tabs img {
      display: block;
      position: absolute;
      top: 15%;
      right: -50%;
      width: 50%;
      transition: 0s;
    }
    .collapse {
      width: 110px;
      height: 110px;
    }

    input + .collapse + div {
      top: 5rem;
      left: 10rem;
      width: 50%;
    }
  
    input:checked+.collapse+div {
      top: 5rem;
      left: 10rem;
      width: 50%;
    }
  /* labels */
    .collapse:nth-of-type(1) {
      margin-top: 6rem;
    }
  }
}