@import "./styles/header.css";
@import "./styles/info_title.css";
@import "./styles/socials.css";
@import "./styles/tabs.css";
@import "./styles/sublist.css";
@import "./styles/standard.css";
@import "./styles/awesome.css";
@import "./styles/pricing_options.css";
@import "./styles/customers.css";
@import "./styles/stylish.css";
@import "./styles/contact_form.css";
@import "./styles/footer_links.css";

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  justify-content: center;
  font-family: "Raleway Regular", "Raleway";
}

/* common styles */
::selection {
  color: white;
  background: rgb(167, 219, 239);
}

button {
  background: transparent;
}

div {
  margin: 1.5rem 9%;
}

p {
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  color: #86878b;
  line-height: 20px;
}

h1 {
  width: 100%;
  margin: 1.5rem;
  font-weight: lighter;
  font-size: 22px;
  line-height: 2rem;
}

h3 {
  font-size: 1.05rem;
  position: relative;
  top: 1.25rem;
  font-family: "Open Sans Bold", "Open Sans Regular", "Open Sans";
  font-weight: 700;
  font-style: normal;
  color: #333333;
}

.towns_img {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: -1rem;
}

.towns_img img {
  width: 100%;
  max-width: 550px;
}

.divider {
  margin: 0;
  margin-top: 2.5rem;
  margin-bottom: 1.3rem;
  width: 64px;
  height: 2px;
  background-color: rgba(255, 166, 0, 0.836);
  align-self: flex-start;
}

.margin_05_rem {
  margin: 0.5rem 0 0.7rem 0;
}

.sans_font_family {
  font-family: "Open Sans Bold", "Open Sans Regular", "Open Sans";
}

.fa-solid {
  color: rgb(255, 139, 56);
}