body {
  max-width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-family: "Raleway Regular", "Raleway";
}
div {
  margin: 1.5rem;
}

header {
  background-color: black;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
}
.header_div {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_img {
  width: 80px;
  height: 27px;
}
svg {
  color: #ccc;
  cursor: pointer;
}

svg:hover {
  color: white;
}

svg:active {
  color: rgba(255, 166, 0, 0.836);
}

.background {
  margin: 0;
  overflow-x: hidden;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  background: url(assets/town_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.backdrop {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  background-image: none;
  display: flex;
}

.info_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  margin-top: 2.5rem;
  width: 100%;
  height: 490px;
  font-size: 1.3rem;
}

.info_title img {
  width: 88px;
  height: 30px;
  align-self: flex-start;
}

.info_title h1 {
  color: white;
  font-weight: 10;
  font-size: 1.45rem;
}

.info_title p {
  margin: 0px;
  margin-top: 1.5rem;
  color: #ccc;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.divider {
  margin: 0;
  width: 64px;
  height: 2px;
  background-color: white;
  align-self: flex-start;
}

.info_title button {
  background: transparent;
  width: 280px;
  height: 44px;
  border: 2px solid white;
  color: white;
  font-size: 1rem;
  font-family: "Open Sans Semibold", "Open Sans Regular", "Open Sans";
  margin-top: 8rem;
  cursor: pointer;
}

.info_title button:hover {
  background-color: white;
  color: black;
}

.socials {
  margin-top: .7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ccc;
}

.socials h3 {
  font-size: 1.1rem;
  position:relative;
  top: 15px;
}
.socials i {
  color: #ccc;
  margin: 0px 4px 0px 4px;
}

.socials i:hover {
  color: #666666;
}

.fa-xl {
  font-size: 1.7rem;
}
