body {
  max-width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0px;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  justify-content: center;
  font-family: "Raleway Regular", "Raleway";
}

/* common styles */
::selection {
  color: white;
  background: rgb(167, 219, 239);
}

button {
  background: transparent;
}

div {
  margin: 1.5rem;
}

p {
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  color: #86878b;
  line-height: 20px;
}

h1 {
  width: 100%;
  margin: 1.5rem;
  font-weight: lighter;
  font-size: 22px;
  line-height: 2rem;
}

h3 {
  font-size: 1.05rem;
  position: relative;
  top: 1.25rem;
  font-family: "Open Sans Bold", "Open Sans Regular", "Open Sans";
  font-weight: 700;
  font-style: normal;
  color: #333333;
}

.towns_img {
  margin-top: -1rem;
  margin-bottom: -3rem;
  position: relative;
  left: -30px;
  right: 0;
  top: -20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.divider {
  margin: 0;
  margin-top: 2.5rem;
  width: 64px;
  height: 2px;
  background-color: rgba(255, 166, 0, 0.836);
  align-self: flex-start;
}

.sans_font_family {
  font-family: "Open Sans Bold", "Open Sans Regular", "Open Sans";
}

.fa-solid {
  color: rgb(255, 139, 56);
}

.background_img {
  position: relative;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  background: url(assets/town_background.jpg);
  background-attachment: fixed;
  background-position: 45% 55%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.backdrop {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  background-image: none;
  display: flex;
}

/* uncommon */

header {
  background-color: black;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
}

.header_div {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_img {
  width: 80px;
  height: 27px;
}

header svg {
  color: #ccc;
  cursor: pointer;
}

header svg:hover {
  color: white;
}

header svg:active {
  color: rgb(255, 139, 56);
}

.info_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  margin-top: 2.5rem;
  width: 100%;
  height: 500px;
  font-size: 1.3rem;
  background-image: none;
}

.info_title img {
  width: 88px;
  height: 30px;
  align-self: flex-start;
}

.info_title h1 {
  color: white;
  font-weight: 10;
  font-size: 1.4rem;
  margin-left: 0;
  margin-right: 0;
}

.info_title p {
  margin: 0px;
  margin-top: 1.5rem;
  color: #ccc;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.info_title button {
  width: 100%;
  height: 44px;
  border: 2px solid white;
  color: white;
  font-size: 1rem;
  margin-top: 8rem;
  cursor: pointer;
}

.info_title button:hover {
  background-color: white;
  color: black;
}

.socials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 90px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ccc;
}

.socials i {
  color: #ccc;
  margin: 0px 4px;
  cursor: pointer;
}

.socials i:hover {
  color: #666666;
}

.fa-xl {
  font-size: 1.8rem;
}

.tabs {
  position: relative;
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}

.tabs button {
  position: absolute;
  bottom: -20%;
  left: 0;
  border: none;
  width: 100%;
  height: 44px;
  color: white;
  background-color: rgb(255, 139, 56);
  font-size: 1rem;
  margin-top: 9rem;
  cursor: pointer;
}

.tabs button:hover {
  background-color: rgb(255, 155, 81);
}

.collapse {
  width: 90px;
  height: 53px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: -1.3px;
  background: black;
  color: white;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 24%);
  font-weight: 700;
  font-style: normal;
}

.collapse:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.collapse:hover {
  background-color: rgb(51, 51, 51);
}

input {
  display: none;
  /* hide the checkboxes */
}

input+.collapse+div {
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

input:checked+.collapse+div {
  position: absolute;
  top: 4rem;
  left: 0px;
  visibility: visible;
  opacity: 1;
  transition: 0.7s;
}

input:checked+.collapse {
  background-color: rgb(255, 139, 56);
}

.sublist {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: -1rem;
}

ul {
  list-style-type: none;
  margin-top: 2.2rem;
  margin-left: 1rem;
}

ul h4 {
  font-size: 14px;
  margin-bottom: -5px;
}

/* fontawesome icons styles in sublist */
.sublist span:nth-child(odd) {
  position: absolute;
  top: 1;
  left: 1.5rem;
  width: 1rem;
  height: 1rem;
}

.sublist_fontawesome {
  border: 2px solid rgb(255, 139, 56);
  border-radius: 50%;
  padding: 11px;
  display: flex;
  justify-content: center;
}

.standart_section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 1);
}

.awesome_section {
  margin: 1.5rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesome_section_content {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fa-lg {
  font-size: 1.3rem;
}

.awesome_section_fontawesome {
  margin-top: 2rem;
  margin-bottom: -1rem;
  border: 2px solid rgb(255, 139, 56);
  border-radius: 50%;
  padding: 17.5px;
}

.pricing_section {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}

.pricing_section_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.pricing_section_content article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  height: 150px;
  color: white;
  background-color: #333333;
}

.pricing_section_content h3 {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #333333;
  border-bottom: 4px solid rgb(71, 71, 71);
}

.pricing_section_content h4 {
  position: relative;
  bottom: 15%;
  font-size: 70px;
}

.pricing_section_content footer {
  position: absolute;
  bottom: 15%;
  color: rgb(153, 153, 153);
  font-weight: bolder;
  font-style: italic;
  font-size: 14px;
}

.pricing_section_content article span {
  font-size: 30px;
}

.most_popular {
  margin: 0;
  width: 100%;
  max-width: 350px;
  min-height: 8px;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  background-color: rgb(255, 139, 56);
}

.most_popular:nth-of-type(3) {
  height: 40px;
  align-items: center;
}

.price_description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  max-width: 350px;
  height: 40px;
  color: #86878B;
  background-color: white;
  box-shadow: 0 0 2.5px rgb(0 0 0 / 25%);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.customers_section {
  margin: 1.5rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers_section_content {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.customers_quote {
  position: relative;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 5.5rem;
  width: 100%;
  max-width: 350px;
}
.customers_quote p:nth-of-type(1) {
  background-color:rgba(245, 245, 245, 1);
  padding: 1rem;
  text-align: start;
  font-style: italic;
}

.customers_quote img:nth-of-type(1) {
  position: absolute;
  left: 2.1rem;
  bottom: 0;
}

.customers_quote img:nth-of-type(2) {
  position: absolute;
  left: 10px;
  bottom: -5rem;
}

.customers_quote h3 {
  position: absolute;
  left: 6rem;
  top: 100%;
}

.customers_quote p:nth-of-type(2) {
  position: absolute;
  left: 6rem;
  top: 120%;
}
