.footer_navigation {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.49);
  }
  
  .footer_navigation_content {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
  }
  /* footers nav media icons and toggle up icon */
  .footer_navigation .fa-solid, .footer_navigation .fa-brands{
    font-size: 1.4rem;
    margin: 0 0.43rem;
    color: rgb(204,204,204);
  }
  
  /* toggle up icon */
  .footer_navigation .awesome_fontawesome {
    text-decoration: none;
    position: absolute;
    top: -3.5rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    margin-top: 2rem;
    background-color: rgb(255, 139, 56);
    border-radius: 50%;
    padding: 0.9rem;
  }

  .axure_link {
    color: #86878b;
    text-decoration: none;
  }

  .axure_link:hover {
    text-decoration: underline;
  }

  @media (min-width:1024px) {
    .footer_navigation .awesome_fontawesome {
      right: 10rem;
    }
  }